<<<<<<< HEAD
<div class = 'jumbotron jumbotron-custom'
<h1>New tweet</h1>

<%= render 'form' %>
<%= link_to 'Back', tweets_path %>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</div>
=======
<h1>New tweet</h1>

<%= render 'form' %>

<%= link_to 'Back', tweets_path %>
>>>>>>> ba10669983245f8554675fa8d12a438eb1fdfbbf
