
<div class = "jumbotron jumbotron-custom">
	<h1> About Us </h1>

	<p> we love brains!!!<p>

	<%= link_to "Back", root_path %>

	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	
</div>